<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Cryptocurrency Simulator</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">FAQ</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Learn More</a>
            </li>
        </ul>
    </div>
</nav>

<br>

<div class="container">
    {{#unless authorized}}
    <form id="admin_form">
        <label>Password</label>
        <input name="pw_input" type="password" autofocus required>
        <input type="submit" class="btn btn-warning" value="Login">
    </form>
    {{else}}
    <a href="/admin/logout" class="btn btn-warning">Admin Logout</a>
    <form id="newCoin_form">
        <label>New Coin Name</label>
        <input
            id="newCoin_inputName"
            name="name" type="text"
            onblur="this.value = this.value.trim()" 
            autofocus required>
        <br>
        <label>New Coin Symbol</label>
        <input
            id="newCoin_inputSymbol"
            name="symbol" type="text"
            placeholder="ABC"
            pattern='[A-Za-z]{2,5}' 
            oninvalid="this.setCustomValidity('Symbol should be 2 to 5 LETTERS')"
            required>
        <br>
        <img id="newCoin_img">
        <button class="btn btn-danger" type="submit">+ Coin +</button>
    </form>
    {{/unless}}
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/admin.js"></script>
{{#unless authorized}}
<script src="/js/admin.loggedout.js"></script>
{{else}}
<script src="/js/admin.loggedin.js"></script>
{{/unless}}